<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
  </head>
  <body>
    <div class="center jumbotron">
    <h1>Welcome to the Residual Fare</h1>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    <br>
    <h6>already signed up?</h6>
    <br>
    <%= link_to "Log in here", '#', class: "btn" %>
    </div>
  </body>
</html>

