<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
  </head>
  <body >
    <div class = 'center'>
      <div>
        <div class = "col-lg-6 col-lg-offset-3 tagline">
        <h1>Let us help you find what's cooking</h1>
        </div>
      </div>
        <div class = "row">
          <div class = "col-lg-6 col-offset-lg-2" id = "info-box">
            <p>Don't know what to cook with the food in your frig? Residual Fare can help you easily find recipes by searching by ingredients. It also allows you to save favorite recipes. </p>
          </div>
          <div class = "col-lg-6">
            <p>Food waste is a real issue. Residual Fare offers a search feature that allows you to search for recipes by ingredients, helping you to reduce food waste in your home.</p>
          </div>
        </div>
        <!-- div class = "col-lg-4 col-lg-offset-4 vollkorn">
          <p>Already signed up?</p>
          <i class="fa fa-angle-down fa-3x"></i>
          <p><#%= link_to "Log in here", login_path, class: ".btn" %></p>
        </div> -->
      </div>
  </body>
</html>

