<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
  </head>
  <body>
    <div class = 'center'>
    <h1>Welcome to the Residual Fare</h1>
    <div id = "description_well">
      <h5>Don't know what to cook with the food in your frig? At Residual Fare, you can easily find recipes by searching by ingredients.</h5>
    </div>
    <h2><%= link_to"Sign up now!", signup_path, class: "btn btn-xlarge btn-primary" %></h2>
    <br>
    <h5>already signed up?</h5>
    <i class="fa fa-angle-down fa-3x"></i>
    <h5><%= link_to "Log in here", login_path, class: ".btn-link" %></h5>
    </div>
  </body>
</html>

