<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
  </head>
  <body class = 'background-image'>
    <div class = 'center'>
    <div class = "col-lg-6 col-lg-offset-3">
      <h1>Let us help you find out what's cooking</h1>
    </div>
      <div class = "row">
        <div class = "col-lg-6 col-lg-offset-3 vollkorn">
          <p>Don't know what to cook with the food in your frig? At Residual Fare, you can easily find recipes by searching by ingredients.</p>
        </div>
        <div class = "col-lg-4 col-lg-offset-4 vollkorn">
          <h2><%= link_to"Get started", signup_path, class: "btn btn-xlarge btn-primary" %></h2>
          <br>
          <p>Already signed up?</p>
          <!-- <i class="fa fa-angle-down fa-3x"></i> -->
          <p><%= link_to "Log in here", login_path, class: ".btn" %></p>
        </div>
      </div>
  </body>
</html>

