<div class="page-header">
  <%= link_to recipes_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_recipe_path(@recipe), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show Recipe</h1>
  <td><%= link_to 'Delete',@recipe, method: :delete, data: {confirm: "Are you sure you want to remove this recipe?"}%></td>
</div>


