// @import "united-variables.scss";
// @import "united.scss";
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Vollkorn);
/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
// this is for debugging
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

html, body {
  height: 100%;
  font-family: 'Amatic SC', cursive;
  font-size:700;
  background: rgba(0,0,0,0.5) url("food-wood-tomatoes.jpg") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  
  }

body {
  padding-top: 60px;

}

.background-image{
  font-weight:light;
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ),
   url("food-wood-tomatoes.jpg") no-repeat;
  background-size:cover;
  color: white;
  font-size: 2em;
}
.vollkorn{
  font-family: 'Vollkorn', serif;
}


section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

h5{
  font-size: 2em;
  color:black;
}

.fa-angle-down:hover{
  color:red;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
  font-size: 4em;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -63px;
  filter: grayscale(30%);
}

.btn-xlarge {
    padding: 18px 28px;
    font-size: 22px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    }
#info-box{
  margin-bottom:50px;
}
/* navigation*/

.nav{
  font-size: 1em;
}

.dropdown-menu{
  font-size: .8em;
}

.btn.btn-xlarge.btn-info{
  color:white;
  font-weight: 3em;
  background:#339966;
  border:#339966;
}

.btn.btn-xlarge.btn-info:hover{
  text-decoration:none !important;
  background:#40bf80;
}

.navbar-inverse.navbar-fixed-top {
    background: rgba(0, 0, 0, 0.0);
    border:none;
    color: white;
    padding-top: 9px;
    text-transform:uppercase;
    font-family:'Lato', serif;
}
#custom-nav li a{
  color:white;  
}

#custom-nav li a:hover{
  color:white;  
  text-decoration:overline;
  text-overline-color:red;
  background:#40bf80;
}
#get-started.btn.btn-xlarge li a{
  text-decoration:none;
  background:#40bf80;
}

#get-started.btn.btn-xlarge li a:hover{
  text-decoration:none;
  background:#40bf80;
}

/* header */

#logo {
  font-family: 'Amatic SC', cursive;
  font-weight:700;
  float: left;
  margin-right: 10px;
  font-size: 2.5em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#logo:hover {
  text-decoration: none;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.8em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid;
    font-size: 1.5em;
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* footer */

footer {
  margin: 60px;
  padding: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
  // text-decoration: none;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}


/* miscellaneous */
// this is to make the debugging look nice
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

