<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'Home', '/' %></a></li>
          <li><%= link_to 'About', '/about' %></li>
          <li><%= link_to "Sign Up", '/' %></li>
          <li><%= link_to "Log In", '/' %></li>
        </ul>
      </nav>
    </div>
  </nav>
